# PostgreSQL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/feia

# NextAuth (openssl rand -base64 32)
AUTH_SECRET=0kkLLC9DITXmdsUnV2KBwl9HCjap/4tl0/+R8+LqHUk-

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dac4m3u8d
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=vzqlbgp1

# DaData
DADATA_API_KEY=4ba0ce6c160f1882fd3a62588160306a9fd3ddee
DADATA_SECRET_KEY=86b60754ecfcd366ff64e67271bd748f4292398d

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
